html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.webix_layout_toolbar.toolbar {
    color: #fff;
    font-size: 18px;
    background: #fdfdfd;
  }
  
  .webix_menu-x.menu  .webix_list_item{
  	background: #fdfdfd;
  	color:#666;
  	line-height:50px;
  }
  
  .webix_menu-x.menu .webix_list_item:hover{
  	background: #dfdfdf;
  }