html{
    height: 100%;
}

 body {
        margin: 0px;
        padding: 0px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        overflow: hidden;
        height: 100%;
    }
    
    #cur_color {
        width: 30px;
        height: 30px;
        background-color: #00FF00;
        border: 2px solid black;
        display: inline-block;
        margin-bottom: -15px;
    }
    

    #image_zoomer {
        width: 100%;
        height: 100%;
        color: #333;
    }
    
    #sel_image_frame {
        /*padding-left: 10px;*/
        height: 100%;
    }
    
    #sel_image_scroll {
        overflow: scroll;
        padding: 5px;
    }
    
    #sel_image {
        width: 100%;
        height: 100%;
    }
    
    #sel_patient {
        margin-top: 10px;
        padding: 5px;
    }
    
    #dynamic {
        padding: 5px;
    }


  #status_bar {
        background-color: #666;
        border-top: 1px solid #999;
        /*border-bottom: 1px solid #000;*/
        width: 100%;
        color: #eee;
        position: absolute;
        bottom: -2px;
        left: 0px;
        height: 28px;
        padding: 10px;
    }
    
    #status_label {
        margin-left: 10px;
    }
    
    #zoom_frame {
        background-color: #333;
    }



  
    .dataTables_filter {
        float: left;
    }
    
    .navbar {
        margin-bottom: 0px;
    }
    
    .container-fluid {
        margin: 0px;
        padding: 0px;
    }
    
    .row-fluid[class*="span"] {
        margin: 0px;
        padding: 0px;
    }
    

    .row-fluid .span9 {
        width: 75%;
        margin: 0px;
        padding: 0px;
    }
    
    .row-fluid .span3 {
        width: 25%;
        margin: 0px;
        padding: 0px;
    }
  
